.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.zmiti-main-ui {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
  width: 750px !important;
  left: 0;
  top: 0;
  overflow: hidden;
  background: #fff;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  z-index: -1;
  opacity: 0; }
  .zmiti-main-ui.main-enter-active, .zmiti-main-ui.main-leave-active {
    -webkit-transition: 0.4s;
    transition: 0.4s; }
  .zmiti-main-ui.main-leave-to, .zmiti-main-ui.main-enter {
    opacity: 0; }
  .zmiti-h5-title {
    position: absolute;
    width: 156px;
    left: 30px;
    top: 30px;
    z-index: 1012; }
  .zmiti-main-ui.show {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 270;
    opacity: 1; }
  .zmiti-main-ui .zmiti-road {
    position: absolute;
    bottom: 0;
    z-index: 10; }
  .zmiti-main-ui .zmiti-modal-C {
    z-index: 103; }
    .zmiti-main-ui .zmiti-modal-C.modal-enter-active, .zmiti-main-ui .zmiti-modal-C.modal-leave-active {
      -webkit-transition: 0.4s 0.6s;
      transition: 0.4s 0.6s; }
    .zmiti-main-ui .zmiti-modal-C.modal-leave-active {
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .zmiti-main-ui .zmiti-modal-C .zmiti-tip {
      background: rgba(0, 0, 0, 0.6);
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal;
      z-index: 1029; }
    .zmiti-main-ui .zmiti-modal-C.modal-leave-to, .zmiti-main-ui .zmiti-modal-C.modal-enter {
      opacity: 0; }
    .zmiti-main-ui .zmiti-modal-C .zmiti-person {
      position: absolute;
      bottom: 200px;
      z-index: 10;
      width: 400px;
      left: 50%;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0); }
      .zmiti-main-ui .zmiti-modal-C .zmiti-person.person-enter-active, .zmiti-main-ui .zmiti-modal-C .zmiti-person.person-leave-active {
        -webkit-transition: 0.4s;
        transition: 0.4s; }
      .zmiti-main-ui .zmiti-modal-C .zmiti-person.person-leave-to, .zmiti-main-ui .zmiti-modal-C .zmiti-person.person-enter {
        opacity: 0; }
    .zmiti-main-ui .zmiti-modal-C .zmiti-discuss {
      position: absolute;
      bottom: 100px;
      left: 50%;
      width: 340px;
      margin-left: -170px; }
    .zmiti-main-ui .zmiti-modal-C .flash {
      -webkit-animation: flash 1s infinite alternate;
      animation: flash 1s infinite alternate; }
    .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul {
      perspective: 500px;
      -webkit-perspective: 500px;
      position: relative; }
      .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul.active {
        -webkit-transform: translate3d(0, 0, 450px);
        transform: translate3d(0, 0, 450px);
        opacity: 0;
        -webkit-transition: -webkit-transform 1s .5s,opacity .5s 1s; }
      .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li {
        width: 750px;
        text-align: center;
        position: absolute;
        -webkit-transform: rotateY(0) translate3d(0, 0, 100px);
        transform: rotateY(0) translate3d(0, 0, 100px); }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li > img {
          height: 600px;
          width: auto;
          position: absolute;
          bottom: 320px;
          left: 50%;
          -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0); }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1 {
          position: absolute;
          color: #fff;
          left: 50%;
          -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
          bottom: 970px;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          padding: 10px;
          background: #1082b6; }
          .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1 .zmiti-down {
            width: 20px; }
            .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1 .zmiti-down img {
              margin-top: 15px;
              width: 40px; }
          .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border: 4px dashed #1082b6;
            border-radius: 50%;
            box-sizing: border-box;
            -webkit-transform: scale(1.2);
            transform: scale(1.2); }
          .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1.active {
            background: #eb333a; }
            .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1.active:before {
              border: 4px dashed #eb333a; }
          .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1.shot {
            line-height: 80px; }
          .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1.long {
            font-size: 26px; }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title {
          width: 300px;
          position: absolute;
          left: 50%;
          margin-left: -150px;
          border: 1px solid red;
          bottom: 875px;
          z-index: 100; }
          .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title span {
            height: 100%;
            line-height: 64px;
            color: #3a2a08;
            position: absolute;
            text-align: center;
            width: 100%; }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li.left {
          opacity: .7;
          -webkit-transform: translate3d(-375px, 0, 0px) rotateY(0deg) scale(0.7);
          transform: translate3d(-375px, 0, 0px) rotateY(0deg) scale(0.7); }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li.transition {
          -webkit-transition: 0.4s;
          transition: 0.4s; }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li.left1 {
          opacity: 0;
          -webkit-transform: translate3d(-750px, 0, 0px) rotateY(0deg);
          transform: translate3d(-750px, 0, 0px) rotateY(0deg); }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li.right {
          opacity: .7;
          -webkit-transform: translate3d(375px, 0, 0px) rotateY(0deg) scale(0.7);
          transform: translate3d(375px, 0, 0px) rotateY(0deg) scale(0.7); }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li.right1 {
          opacity: 0;
          -webkit-transform: translate3d(750px, 0, 0px) rotateY(-90deg);
          transform: translate3d(750px, 0, 0px) rotateY(-90deg); }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li.active {
          -webkit-transform: rotateY(0) translate3d(0, 0, 0px);
          transform: rotateY(0) translate3d(0, 0, 0px);
          z-index: 100; }
    .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list .zmiti-ar {
      position: absolute;
      width: 40px;
      height: 40px;
      border-right: none;
      border-top: none;
      left: 140px;
      bottom: 600px; }
    .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list .zmiti-ar-r {
      left: auto;
      right: 140px; }
    .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list .zmiti-tip {
      position: absolute;
      top: 860px;
      width: 360px;
      left: 50%;
      margin-left: -180px;
      text-align: center; }
      .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list .zmiti-tip .zmiti-create-wish {
        width: 360px; }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list .zmiti-tip .zmiti-create-wish img {
          width: 400px;
          margin-left: -20px; }
  .zmiti-main-ui .zmiti-scene-ui {
    z-index: 300; }
    .zmiti-main-ui .zmiti-scene-ui.scene-enter-active, .zmiti-main-ui .zmiti-scene-ui.scene-leave-active {
      -webkit-transition: 1s;
      transition: 1s; }
    .zmiti-main-ui .zmiti-scene-ui.scene-leave-to, .zmiti-main-ui .zmiti-scene-ui.scene-enter {
      opacity: 0; }
    .zmiti-back {
      position: absolute;
      left: -40px;
      top: 40px;
      width: 230px; }
    .zmiti-main-ui .zmiti-scene-ui .zmiti-scene-title {
      position: absolute;
      width: 400px;
      left: 230px;
      z-index: 10; }
      .zmiti-main-ui .zmiti-scene-ui .zmiti-scene-title span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        color: #fff;
        font-size: 34px;
        text-align: center;
        line-height: 220px; }
    .zmiti-main-ui .zmiti-scene-ui .zmiti-black {
      position: absolute;
      left: 50%;
      width: 700px;
      top: 100px;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0); }
      .zmiti-main-ui .zmiti-scene-ui .zmiti-black .zmiti-talk-C {
        position: absolute;
        left: 10%;
        top: 0;
        height: 590px;
        overflow-y: hidden;
        width: 600px;
        margin-top: 100px;
        z-index: 100; }
        .zmiti-main-ui .zmiti-scene-ui .zmiti-black .zmiti-talk-C ul {
          padding-bottom: 30px; }
        .zmiti-main-ui .zmiti-scene-ui .zmiti-black .zmiti-talk-C li {
          display: -webkit-box;
          -webkit-box-align: center;
          -webkit-box-pack: center;
          -webkit-box-orient: horizontal;
          margin: 30px 0;
          -webkit-box-align: start;
          width: 500px;
          -webkit-box-pack: start; }
          .zmiti-main-ui .zmiti-scene-ui .zmiti-black .zmiti-talk-C li div {
            margin: 0 10px; }
          .zmiti-main-ui .zmiti-scene-ui .zmiti-black .zmiti-talk-C li .zmiti-talk-content {
            background: #dbdbdb;
            color: #08597e;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 10px;
            position: relative; }
            .zmiti-main-ui .zmiti-scene-ui .zmiti-black .zmiti-talk-C li .zmiti-talk-content:before {
              content: "";
              width: 30px;
              height: 30px;
              position: absolute;
              background: #dbdbdb;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              border-radius: 5px;
              left: -10px;
              top: 14px; }
    .zmiti-main-ui .zmiti-scene-ui .zmiti-photo {
      position: absolute;
      bottom: 200px;
      right: 10px;
      width: 120px; }
    .zmiti-main-ui .zmiti-scene-ui .zmiti-say {
      position: absolute;
      width: 340px;
      left: 50%;
      margin-left: -170px;
      bottom: 100px; }
    .zmiti-main-ui .zmiti-scene-ui .zmiti-input-C {
      width: 90%;
      margin: 140px auto;
      position: relative; }
      .zmiti-main-ui .zmiti-scene-ui .zmiti-input-C textarea {
        position: absolute;
        width: 580px;
        height: 340px;
        left: 50%;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        top: 30px;
        border: none;
        outline: none;
        color: #1082b6;
        font-size: 30px; }
        .zmiti-main-ui .zmiti-scene-ui .zmiti-input-C textarea::-webkit-input-placeholder {
          color: #1082b6; }
      .zmiti-main-ui .zmiti-scene-ui .zmiti-input-C .zmiti-submit {
        text-align: center;
        margin-top: 40px; }
        .zmiti-main-ui .zmiti-scene-ui .zmiti-input-C .zmiti-submit img {
          width: 400px; }
      .zmiti-main-ui .zmiti-scene-ui .zmiti-input-C .zmiti-input-btns {
        position: relative;
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -webkit-box-orient: horizontal;
        margin-top: 40px; }
        .zmiti-main-ui .zmiti-scene-ui .zmiti-input-C .zmiti-input-btns div {
          margin: 0 10px; }
      .zmiti-main-ui .zmiti-scene-ui .zmiti-input-C .zmiti-submit-success {
        position: absolute;
        background: #fff;
        left: 50px;
        top: 30px;
        text-align: center;
        width: 580px; }
        .zmiti-main-ui .zmiti-scene-ui .zmiti-input-C .zmiti-submit-success img {
          width: 100px;
          margin: 20px 0; }
        .zmiti-main-ui .zmiti-scene-ui .zmiti-input-C .zmiti-submit-success div {
          width: 100%;
          line-height: 60px;
          font-size: 34px;
          color: #1082b6; }
  .zmiti-main-ui .zmiti-main-share-ui {
    z-index: 1002; }
    .zmiti-main-ui .zmiti-main-share-ui > .lt-full {
      background: rgba(0, 0, 0, 0.8);
      z-index: 10022; }
      .zmiti-main-ui .zmiti-main-share-ui > .lt-full .zmiti-waiting-C {
        position: absolute;
        left: 50%;
        width: 230px;
        height: 400px;
        margin-left: -115px;
        top: 50%;
        margin-top: -200px; }
        .zmiti-main-ui .zmiti-main-share-ui > .lt-full .zmiti-waiting-C div {
          position: absolute;
          left: 0;
          top: 0; }
        .zmiti-main-ui .zmiti-main-share-ui > .lt-full .zmiti-waiting-C .zmiti-point {
          left: 50%;
          margin-left: -20px;
          top: 25%;
          -webkit-animation: rotate 0.5s infinite linear;
          animation: rotate 0.5s infinite linear; }
    .zmiti-main-ui .zmiti-main-share-ui .zmiti-createimg {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      z-index: 102;
      height: 70%;
      -webkit-transition: 1.3s;
      transition: 1.3s; }
      .zmiti-main-ui .zmiti-main-share-ui .zmiti-createimg .zmiti-createimg1 {
        margin-top: 8vh;
        position: relative; }
      .zmiti-main-ui .zmiti-main-share-ui .zmiti-createimg img {
        width: auto;
        height: 100%; }
      .zmiti-main-ui .zmiti-main-share-ui .zmiti-createimg .zmiti-hotword-img {
        position: absolute;
        top: 340px;
        left: 300px; }
        .zmiti-main-ui .zmiti-main-share-ui .zmiti-createimg .zmiti-hotword-img.active {
          top: 310px; }
    .zmiti-main-ui .zmiti-main-share-ui .zmiti-share-tip {
      position: absolute;
      bottom: 70px;
      position: absolute;
      color: #d43620;
      font-weight: bold;
      right: 15%;
      z-index: 103; }
    .zmiti-main-ui .zmiti-main-share-ui .zmiti-main-share-btns {
      position: absolute;
      width: 100%;
      bottom: 50px;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal; }
      .zmiti-main-ui .zmiti-main-share-ui .zmiti-main-share-btns div {
        margin: 0 10px; }
  .zmiti-main-ui .zmiti-rank-btn {
    position: absolute;
    z-index: 10;
    left: -10px;
    bottom: 25%; }
  .zmiti-main-ui .zmiti-active-btn {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 25%; }
  .zmiti-main-ui .zmiti-mask {
    z-index: 1300; }
  .zmiti-main-ui .zmiti-rank-ui {
    z-index: 1002; }
    .zmiti-main-ui .zmiti-rank-ui .zmiti-rank-title {
      width: 300px;
      margin: 100px auto 20px; }
    .zmiti-main-ui .zmiti-rank-ui ul li {
      display: inline-block;
      width: 375px;
      margin-top: 30px;
      box-sizing: border-box;
      position: relative; }
      .zmiti-main-ui .zmiti-rank-ui ul li .zmiti-rankname {
        position: absolute;
        top: 12px;
        font-size: 34px;
        color: #f4e8a8;
        left: 60px; }
        .zmiti-main-ui .zmiti-rank-ui ul li .zmiti-rankname img {
          width: 20px;
          margin-left: 10px;
          margin-top: 24px; }
      .zmiti-main-ui .zmiti-rank-ui ul li .zmiti-rank-num {
        color: #f4e8a8;
        position: relative;
        top: 20px; }
      .zmiti-main-ui .zmiti-rank-ui ul li .zmiti-fire {
        position: absolute;
        bottom: 2px;
        left: 130px; }

@-webkit-keyframes info {
  from {
    -webkit-transform: translate3d(0, -30px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes waiting {
  to {
    -webkit-transform: rotate(360deg); } }

/*# sourceMappingURL=index.css.map */
