@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #fcfff8;
$color: #fffb88;

.zmiti-main-ui {
    
    &.main-enter-active,
    &.main-leave-active {
        @include transition(.4s);
    }


    &.main-leave-to,
    &.main-enter {
        opacity: 0;
    }


    @include transform3d;

    width: $viewW !important;
    left: 0;
    top: 0;
    overflow: hidden;
    background: #fff;

    @at-root.zmiti-h5-title{
        @include pos(a);
        width: 156px;
        left: 30px;
        top: 30px;
        z-index: 1012;
    }
    &.show {
        @include transition(.5s);
        z-index: 270;
        opacity: 1;
    }

    @include displayBox(horizontal);

    z-index: -1;
    opacity: 0;

    .zmiti-road{
        @include pos(a);
        bottom: 0;
        z-index: 10;
    }


    .zmiti-modal-C{
        //background:rgba(0,0,0,.4);
        z-index: 103;
        &.modal-enter-active,
        &.modal-leave-active {
            @include transition(.4s .6s);
        }
        &.modal-leave-active{
            
            @include transition(.4s);
        }


        &.modal-leave-to,
        &.modal-enter {
            opacity: 0;
        }


        .zmiti-person{

            @include pos(a);
            bottom:200px;
            z-index: 10;
            width: 400px;
            left: 50%;
            @include transform(translate3d(-50%,0,0));;

            &.person-enter-active,
            &.person-leave-active {
                @include transition(.4s);
            }   
            &.person-leave-to,
            &.person-enter {
                opacity: 0;
            }
        }

        .zmiti-discuss{
            @include pos(a);
            bottom:100px;
            left: 50%;
            width: 340px;
            margin-left: -170px;
        }
        .flash{
            @include animation(flash 1s infinite alternate);
        }
        .zmiti-modal-list{

            ul{
                perspective: 500px;
                -webkit-perspective: 500px;
                @include pos(r);
                //@include displayBox(horizontal);
                //@include transition(.4s);
                
                &.active{
                    @include transform(translate3d(0,0,450px));
                    opacity:0;
                    -webkit-transition: -webkit-transform 1s .5s,opacity .5s 1s;
                }

                li{
                    width: $viewW;
                    text-align: center;

                    $bottom:320px;
                    &>img{
                        height: 600px;
                        width: auto;
                        @include pos(a);
                        bottom:$bottom;
                        left: 50%;
                        @include transform(translate3d(-50%,0,0));
                    }
                    .zmiti-title1{
                        @include pos(a);
                        color:#fff;
                        left: 50%;
                        @include transform(translate3d(-50%,0,0));
                        bottom:970px;
                        width: 80px;
                        height: 80px;
                        @include br();
                        .zmiti-down{
                            width: 20px;
                            img{
                                margin-top:15px;
                                width: 40px;
                            }
                        }
                        &:before{
                            content:"";
                            @include pos(a);
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            border:4px dashed #1082b6;
                            @include br();
                            box-sizing:border-box;
                            @include transform(scale(1.2));
                        }
                        &.active{
                            background:#eb333a;
                            &:before{
                                border:4px dashed #eb333a;
                            }
                        }
                        padding: 10px;
                        background:#1082b6;
                        &.shot{
                            line-height: 80px;
                        }
                        &.long{
                            font-size:26px;
                        }
                    }
                    .zmiti-title{
                        width: 300px;
                        @include pos(a);
                        left: 50%;
                        margin-left: -150px;
                        border:1px solid red;
                        bottom:875px;
                        z-index: 100;
                        span{
                            height: 100%;
                            line-height: 64px;
                            color:#3a2a08;
                            @include pos(a);
                            text-align: center;
                            width: 100%;
                        }
                    }
                     @include pos(a);
                     @include transform(rotateY(0) translate3d(0, 0, 100px));

                     &.left {

                         opacity: .7;
                         //@include transform(scale(.7) translate3d(-$viewW/1.5, 0, 0));
                         @include transform(translate3d(-$viewW/2, 0, 0px) rotateY(0deg) scale(.7));

                     }

                     &.transition {
                         @include transition(.4s);
                     }

                     &.left1 {
                         opacity: 0;
                         //@include transition_transform(.4s);
                         //@include transform(scale(.7) translate3d(-5.66667rem, 0, 0));
                         @include transform(translate3d(-$viewW, 0, 0px) rotateY(0deg));
                     }

                     &.right {

                         opacity: .7;
                         @include transform(translate3d($viewW/2, 0, 0px) rotateY(0deg) scale(.7));
                     }

                     &.right1 {
                         opacity: 0;
                         // @include transition_transform(.4s .22s);
                         @include transform(translate3d($viewW, 0, 0px) rotateY(-90deg));
                     }

                     &.active {
                         @include transform(rotateY(0) translate3d(0, 0, 0px));
                         z-index: 100;
                     }
                }
            }
            

            .zmiti-ar{
                @include pos(a);
                $size:40px;
                width: $size;
                height: $size;
                //border:8px solid #f3c664;
                //@include transform(rotate(45deg));
                border-right: none;
                border-top: none;
                left: 140px;;
                bottom:600px;
            }
            .zmiti-ar-r{
                ///include transform(rotate(225deg));
                left: auto;
                right: 140px;
            }

            .zmiti-tip{
                @include pos(a);
                top: 860px;
                width: 360px;
                left: 50%;
                margin-left: -180px;;
                text-align: center;

                .zmiti-create-wish{
                    width: 360px;
                    img{
                        width:400px;
                        margin-left: -20px;;
                    }
                }
            }
        }
    }

    .zmiti-scene-ui{
        z-index: 300;
        &.scene-enter-active,
        &.scene-leave-active {
            @include transition(1s);
        }   
        &.scene-leave-to,
        &.scene-enter {
            opacity: 0;
        }
        @at-root.zmiti-back{
            @include pos(a);
            left: -40px;;
            top: 40px;
            width: 230px;
        }

        .zmiti-scene-title{
            @include pos(a);
            width: 400px;
            left: 230px;
            z-index: 10;
            span{
                @include  pos(a);
                width: 100%;
                height: 100%;
                top: 0;
                color:#fff;
                font-size:34px;
                text-align: center;
                line-height: 220px;
            }
        }

        .zmiti-black{
            @include pos(a);
            left: 50%;
            width: 700px;
            top:100px;
            @include transform(translate3d(-50%,0,0));;

            .zmiti-talk-C{
                @include pos(a);
                left:10%;
                top: 0;
                height: 590px;;
                overflow-y: hidden;
                width: 600px;
                //overflow-x:auto;
                margin-top:100px;
                z-index: 100;
                ul{
                    padding-bottom:30px;
                }
                li{
                    @include displayBox(horizontal);
                    margin: 30px 0;
                    -webkit-box-align: start;
                    width: 500px;
                    -webkit-box-pack: start;
                    div{
                        margin: 0 10px;
                        
                    }
                    .zmiti-talk-content{
                        background:#dbdbdb;
                        color:#08597e;
                        padding: 20px;
                        box-sizing:border-box;
                        @include br(10px);
                        @include pos(r);
                        &:before{
                            content:"";
                            width: 30px;
                            height: 30px;
                            @include pos(a);
                            background:#dbdbdb;
                            @include transform(rotate(45deg));
                            @include br(5px);
                            left: -10px;
                            top: 14px;
                        }
                    }
                }
            }
            
        }

        .zmiti-photo{
            @include pos(a);
            bottom:200px;
            right: 10px;
            width: 120px;
        }

        .zmiti-say{
            @include pos(a);
            width: 340px;
            left: 50%;
            margin-left: -170px;
            bottom:100px;
        }

        .zmiti-input-C{
            width: 90%;
            margin: 140px auto;
            @include pos(r);
            textarea{
                @include pos(a);
                width:580px;
                height: 340px;;
                left: 50%;
                @include transform(translate3d(-50%,0,0));
                top: 30px;;
                border:none;
                outline: none;
                color:#1082b6;
                font-size: 30px;
                &::-webkit-input-placeholder{
                    color:#1082b6;
                }
            }         
            .zmiti-submit{
                text-align: center;
                margin-top: 40px;
                img{
                    width: 400px;

                };
            } 
            .zmiti-input-btns{
                @include pos(r);
                @include displayBox(horizontal);
                margin-top:40px;
                div{
                    margin: 0 10px;
                }
            }
            .zmiti-submit-success{
                @include pos(a);

                background:#fff;
                left:50px;
                top: 30px;
                text-align: center;
                width: 580px;;
                img{
                    width: 100px;
                    margin: 20px 0;
                }
                div{
                    width: 100%;
                    line-height: 60px;
                    font-size:34px;
                    color:#1082b6;
                }
            }  
        }
    }


    .zmiti-main-share-ui{
        z-index: 1002;

        &>.lt-full{
            background:rgba(0,0,0,.8);
            z-index: 10022;

            .zmiti-waiting-C{
                @include pos(a);
                left: 50%;
                width: 230px;
                height: 400px;
                margin-left: -115px;
                top: 50%;
                margin-top: -200px;
                div{
                    @include pos(a);
                    left: 0;
                    top: 0;
                }
                .zmiti-point{
                    left: 50%;
                    margin-left: -20px;
                    top: 25%;
                    @include animation(rotate .5s infinite linear);
                }
            }
        }

        .zmiti-createimg{
            @include pos(a);
            top:0;
            left: 50%;
            @include transform(translate3d(-50%,0,0));
            z-index: 102;
            height:70%;

            @include transition(1.3s);
            .zmiti-createimg1{
                margin-top: 8vh;
                @include pos(r);

                
            }


            img{
                width: auto;
                height: 100%;
            }

            .zmiti-hotword-img{
                @include pos(a);
                top: 340px;
                left: 300px;
                &.active{
                    top:310px;
                }
            }
        }

        .zmiti-share-tip{
            @include pos(a);
            bottom:70px;
            @include pos(a);
            color:#d43620;
            font-weight: bold;
            right: 15%;
            z-index: 103;
        }

        .zmiti-main-share-btns{
            @include pos(a);
            width:100%;

            bottom:50px;

            @include displayBox(horizontal);
            div{
                margin: 0 10px;
            }
        }
    }

    .zmiti-rank-btn{
        @include pos(a);
        z-index: 10;
        left: -10px;
        bottom:25%;
    }

    .zmiti-active-btn{
        @include pos(a);
        z-index: 10;
        right:0;
        bottom:25%;
    }

    .zmiti-mask{
        z-index: 1300;
    }

    .zmiti-rank-ui{
        z-index: 1002;
        .zmiti-rank-title{
            width: 300px;
            margin: 100px auto 20px; 
        }
        @at-root.zmiti-back{

        }
        ul{
            li{
                display:inline-block;
                width: 375px;
                margin-top: 30px;
                box-sizing:border-box;
                @include pos(r);
                .zmiti-rankname{
                    @include pos(a);
                    top:12px;;
                    font-size:34px;
                    color:#f4e8a8;
                    left: 60px;
                    img{
                        width: 20px;
                        margin-left: 10px;
                        margin-top: 24px;
                    }
                }
                .zmiti-rank-num{
                    color:#f4e8a8;
                    @include pos(r);
                    top: 20px;
                }
                .zmiti-fire{
                    @include pos(a);
                    bottom: 2px;
                    left: 130px;
                }

            }
        }
    }

}

@media all and(max-height:1110px) {
    .zmiti-main-ui{
        .zmiti-main-share-ui{
            .zmiti-createimg{
                
            }
        }
    }
}

@-webkit-keyframes info {
    from {
        -webkit-transform: translate3d(0, -30px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes waiting {
    to {
        -webkit-transform: rotate(360deg);
    }
}
