@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #fcfff8;
$color: #fffb88;

.zmiti-main-ui {
    @include transform3d;

    width: $viewW !important;
    left: 0;
    top: 0;
    overflow: hidden;
    background: #fff;

    &.show {
        z-index: 270;
        opacity: 1;
    }

    @include displayBox(horizontal);

    z-index: -1;
    opacity: 0;

    .zmiti-road{
        @include pos(a);
        bottom: 0;
        z-index: 10;
    }


    .zmiti-modal-C{
        //background:rgba(0,0,0,.4);
        z-index: 103;
        &.modal-enter-active,
        &.modal-leave-active {
            @include transition(.4s .6s);
        }
        &.modal-leave-active{
            
            @include transition(.4s);
        }


        &.modal-leave-to,
        &.modal-enter {
            opacity: 0;
        }


        .zmiti-person{

            @include pos(a);
            bottom:200px;
            z-index: 10;
            width: 400px;
            left: 50%;
            @include transform(translate3d(-50%,0,0));;
        }

        .zmiti-discuss{
            @include pos(a);
            bottom:100px;
            left: 50%;
            width: 340px;
            margin-left: -170px;
        }
        .flash{
            @include animation(flash 1s infinite alternate);
        }
        .zmiti-modal-list{

            ul{
                perspective: 500px;
                -webkit-perspective: 500px;
                @include pos(r);
                //@include displayBox(horizontal);
                @include transition(.4s);
                li{
                    width: $viewW;
                    text-align: center;

                    $bottom:320px;
                    &>img{
                        height: 600px;
                        width: auto;
                        @include pos(a);
                        bottom:$bottom;
                        left: 50%;
                        @include transform(translate3d(-50%,0,0));
                    }
                    .zmiti-title1{
                        @include pos(a);
                        color:#fff;
                        left: 50%;
                        @include transform(translate3d(-50%,0,0));
                        bottom:970px;
                        width: 80px;
                        height: 80px;
                        @include br();
                        .zmiti-down{
                            width: 20px;
                            img{
                                margin-top:15px;
                                width: 40px;
                            }
                        }
                        &:before{
                            content:"";
                            @include pos(a);
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            border:4px dashed #1082b6;
                            @include br();
                            box-sizing:border-box;
                            @include transform(scale(1.2));
                        }
                        &.active{
                            background:#eb333a;
                            &:before{
                                border:4px dashed #eb333a;
                            }
                        }
                        padding: 10px;
                        background:#1082b6;
                        &.shot{
                            line-height: 80px;
                        }
                        &.long{
                            font-size:26px;
                        }
                    }
                    .zmiti-title{
                        width: 300px;
                        @include pos(a);
                        left: 50%;
                        margin-left: -150px;
                        border:1px solid red;
                        bottom:875px;
                        z-index: 100;
                        span{
                            height: 100%;
                            line-height: 64px;
                            color:#3a2a08;
                            @include pos(a);
                            text-align: center;
                            width: 100%;
                        }
                    }
                     @include pos(a);
                     @include transform(rotateY(0) translate3d(0, 0, 100px));

                     &.left {

                         opacity: .7;
                         //@include transform(scale(.7) translate3d(-$viewW/1.5, 0, 0));
                         @include transform(translate3d(-$viewW/2, 0, 0px) rotateY(0deg) scale(.7));

                     }

                     &.transition {
                         @include transition(.4s);
                     }

                     &.left1 {
                         opacity: 0;
                         //@include transition_transform(.4s);
                         //@include transform(scale(.7) translate3d(-5.66667rem, 0, 0));
                         @include transform(translate3d(-$viewW, 0, 0px) rotateY(0deg));
                     }

                     &.right {

                         opacity: .7;
                         @include transform(translate3d($viewW/2, 0, 0px) rotateY(0deg) scale(.7));
                     }

                     &.right1 {
                         opacity: 0;
                         // @include transition_transform(.4s .22s);
                         @include transform(translate3d($viewW, 0, 0px) rotateY(-90deg));
                     }

                     &.active {
                         @include transform(rotateY(0) translate3d(0, 0, 0px));
                         z-index: 100;
                     }
                }
            }
            

            .zmiti-ar{
                @include pos(a);
                $size:40px;
                width: $size;
                height: $size;
                //border:8px solid #f3c664;
                //@include transform(rotate(45deg));
                border-right: none;
                border-top: none;
                left: 140px;;
                bottom:600px;
            }
            .zmiti-ar-r{
                ///include transform(rotate(225deg));
                left: auto;
                right: 140px;
            }

            .zmiti-tip{
                @include pos(a);
                top: 860px;
                width: 360px;
                left: 50%;
                margin-left: -180px;;
                text-align: center;

                .zmiti-create-wish{
                    width: 360px;
                    img{
                        width:400px;
                        margin-left: -20px;;
                    }
                }
            }
        }
    }

    .zmiti-scene-ui{
        z-index: 300;
        .zmiti-back{
            @include pos(a);
            left: -40px;;
            top: 40px;
            width: 230px;
        }
        .zmiti-scene-title{
            @include pos(a);
            width: 400px;
            left: 230px;
            z-index: 10;
        }

        .zmiti-black{
            @include pos(a);
            left: 50%;
            width: 90%;
            top:100px;
            @include transform(translate3d(-50%,0,0));;
            
        }

        .zmiti-say{
            @include pos(a);
            width: 340px;
            left: 50%;
            margin-left: -170px;
            bottom:100px;
        }
    }

}

@-webkit-keyframes info {
    from {
        -webkit-transform: translate3d(0, -30px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes waiting {
    to {
        -webkit-transform: rotate(360deg);
    }
}
