.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.zmiti-main-ui {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
  width: 750px !important;
  left: 0;
  top: 0;
  overflow: hidden;
  background: #fff;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  z-index: -1;
  opacity: 0; }
  .zmiti-main-ui.show {
    z-index: 270;
    opacity: 1; }
  .zmiti-main-ui .zmiti-road {
    position: absolute;
    bottom: 0;
    z-index: 10; }
  .zmiti-main-ui .zmiti-modal-C {
    z-index: 103; }
    .zmiti-main-ui .zmiti-modal-C.modal-enter-active, .zmiti-main-ui .zmiti-modal-C.modal-leave-active {
      -webkit-transition: 0.4s 0.6s;
      transition: 0.4s 0.6s; }
    .zmiti-main-ui .zmiti-modal-C.modal-leave-active {
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .zmiti-main-ui .zmiti-modal-C.modal-leave-to, .zmiti-main-ui .zmiti-modal-C.modal-enter {
      opacity: 0; }
    .zmiti-main-ui .zmiti-modal-C .zmiti-person {
      position: absolute;
      bottom: 200px;
      z-index: 10;
      width: 400px;
      left: 50%;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0); }
    .zmiti-main-ui .zmiti-modal-C .zmiti-discuss {
      position: absolute;
      bottom: 100px;
      left: 50%;
      width: 340px;
      margin-left: -170px; }
    .zmiti-main-ui .zmiti-modal-C .flash {
      -webkit-animation: flash 1s infinite alternate;
      animation: flash 1s infinite alternate; }
    .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul {
      perspective: 500px;
      -webkit-perspective: 500px;
      position: relative;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
      .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li {
        width: 750px;
        text-align: center;
        position: absolute;
        -webkit-transform: rotateY(0) translate3d(0, 0, 100px);
        transform: rotateY(0) translate3d(0, 0, 100px); }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li > img {
          height: 600px;
          width: auto;
          position: absolute;
          bottom: 320px;
          left: 50%;
          -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0); }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1 {
          position: absolute;
          color: #fff;
          left: 50%;
          -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
          bottom: 970px;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          padding: 10px;
          background: #1082b6; }
          .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1 .zmiti-down {
            width: 20px; }
            .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1 .zmiti-down img {
              margin-top: 15px;
              width: 40px; }
          .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border: 4px dashed #1082b6;
            border-radius: 50%;
            box-sizing: border-box;
            -webkit-transform: scale(1.2);
            transform: scale(1.2); }
          .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1.active {
            background: #eb333a; }
            .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1.active:before {
              border: 4px dashed #eb333a; }
          .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1.shot {
            line-height: 80px; }
          .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title1.long {
            font-size: 26px; }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title {
          width: 300px;
          position: absolute;
          left: 50%;
          margin-left: -150px;
          border: 1px solid red;
          bottom: 875px;
          z-index: 100; }
          .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li .zmiti-title span {
            height: 100%;
            line-height: 64px;
            color: #3a2a08;
            position: absolute;
            text-align: center;
            width: 100%; }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li.left {
          opacity: .7;
          -webkit-transform: translate3d(-375px, 0, 0px) rotateY(0deg) scale(0.7);
          transform: translate3d(-375px, 0, 0px) rotateY(0deg) scale(0.7); }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li.transition {
          -webkit-transition: 0.4s;
          transition: 0.4s; }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li.left1 {
          opacity: 0;
          -webkit-transform: translate3d(-750px, 0, 0px) rotateY(0deg);
          transform: translate3d(-750px, 0, 0px) rotateY(0deg); }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li.right {
          opacity: .7;
          -webkit-transform: translate3d(375px, 0, 0px) rotateY(0deg) scale(0.7);
          transform: translate3d(375px, 0, 0px) rotateY(0deg) scale(0.7); }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li.right1 {
          opacity: 0;
          -webkit-transform: translate3d(750px, 0, 0px) rotateY(-90deg);
          transform: translate3d(750px, 0, 0px) rotateY(-90deg); }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list ul li.active {
          -webkit-transform: rotateY(0) translate3d(0, 0, 0px);
          transform: rotateY(0) translate3d(0, 0, 0px);
          z-index: 100; }
    .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list .zmiti-ar {
      position: absolute;
      width: 40px;
      height: 40px;
      border-right: none;
      border-top: none;
      left: 140px;
      bottom: 600px; }
    .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list .zmiti-ar-r {
      left: auto;
      right: 140px; }
    .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list .zmiti-tip {
      position: absolute;
      top: 860px;
      width: 360px;
      left: 50%;
      margin-left: -180px;
      text-align: center; }
      .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list .zmiti-tip .zmiti-create-wish {
        width: 360px; }
        .zmiti-main-ui .zmiti-modal-C .zmiti-modal-list .zmiti-tip .zmiti-create-wish img {
          width: 400px;
          margin-left: -20px; }
  .zmiti-main-ui .zmiti-scene-ui {
    z-index: 300; }
    .zmiti-main-ui .zmiti-scene-ui .zmiti-back {
      position: absolute;
      left: -40px;
      top: 40px;
      width: 230px; }
    .zmiti-main-ui .zmiti-scene-ui .zmiti-scene-title {
      position: absolute;
      width: 400px;
      left: 230px;
      z-index: 10; }
    .zmiti-main-ui .zmiti-scene-ui .zmiti-black {
      position: absolute;
      left: 50%;
      width: 90%;
      top: 100px;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0); }
    .zmiti-main-ui .zmiti-scene-ui .zmiti-say {
      position: absolute;
      width: 340px;
      left: 50%;
      margin-left: -170px;
      bottom: 100px; }

@-webkit-keyframes info {
  from {
    -webkit-transform: translate3d(0, -30px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes waiting {
  to {
    -webkit-transform: rotate(360deg); } }

/*# sourceMappingURL=index.css.map */
