.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.zmiti-loading1 {
  z-index: 1200; }

.zmiti-loading-ui {
  width: 500px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -250px; }
  .zmiti-loading-ui img {
    width: 140px; }
  .zmiti-loading-ui.loading-enter-active, .zmiti-loading-ui.loading-leave-active {
    -webkit-transition: 0.4s 0.2s;
    transition: 0.4s 0.2s; }
  .zmiti-loading-ui.loading-leave-to, .zmiti-loading-ui.loading-enter {
    opacity: 0; }

.zmiti-loading-C {
  padding: 2px;
  background: #066590;
  border-radius: 20px; }
  .zmiti-loading-C:before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }

.zmiti-loading-bar {
  background-image: repeating-linear-gradient(-45deg, #14c3a2, #14c3a2 30px, #22e8c3 30px, #22e8c3 60px);
  background-size: 600px 100%;
  -webkit-animation: barberpole 12s linear infinite;
  animation: barberpole 12s linear infinite;
  height: 40px;
  width: 0;
  position: relative;
  border-radius: 20px; }

.zmiti-loading-bar.red {
  background-image: repeating-linear-gradient(60deg, #7cddf4, #7cddf4 40px, #ccf4ff 40px, #ccf4ff 70px);
  background-size: 500px 100%;
  animation: barberpole 4s linear infinite; }

.zmiti-loading-bar:before {
  content: "";
  position: absolute;
  width: 520px;
  left: -10px;
  height: 60px;
  border-radius: 40px;
  background: #1082b6;
  z-index: -1;
  top: -10px; }

@-webkit-keyframes barberpole {
  from {
    background-position: 0% 0%; }
  to {
    background-position: 600px 0%; } }
.zmiti-loading-bar.active[data-percent='1'] {
  width: 1%; }

.zmiti-loading-bar.active[data-percent='2'] {
  width: 2%; }

.zmiti-loading-bar.active[data-percent='3'] {
  width: 3%; }

.zmiti-loading-bar.active[data-percent='4'] {
  width: 4%; }

.zmiti-loading-bar.active[data-percent='5'] {
  width: 5%; }

.zmiti-loading-bar.active[data-percent='6'] {
  width: 6%; }

.zmiti-loading-bar.active[data-percent='7'] {
  width: 7%; }

.zmiti-loading-bar.active[data-percent='8'] {
  width: 8%; }

.zmiti-loading-bar.active[data-percent='9'] {
  width: 9%; }

.zmiti-loading-bar.active[data-percent='10'] {
  width: 10%; }

.zmiti-loading-bar.active[data-percent='11'] {
  width: 11%; }

.zmiti-loading-bar.active[data-percent='12'] {
  width: 12%; }

.zmiti-loading-bar.active[data-percent='13'] {
  width: 13%; }

.zmiti-loading-bar.active[data-percent='14'] {
  width: 14%; }

.zmiti-loading-bar.active[data-percent='15'] {
  width: 15%; }

.zmiti-loading-bar.active[data-percent='16'] {
  width: 16%; }

.zmiti-loading-bar.active[data-percent='17'] {
  width: 17%; }

.zmiti-loading-bar.active[data-percent='18'] {
  width: 18%; }

.zmiti-loading-bar.active[data-percent='19'] {
  width: 19%; }

.zmiti-loading-bar.active[data-percent='20'] {
  width: 20%; }

.zmiti-loading-bar.active[data-percent='21'] {
  width: 21%; }

.zmiti-loading-bar.active[data-percent='22'] {
  width: 22%; }

.zmiti-loading-bar.active[data-percent='23'] {
  width: 23%; }

.zmiti-loading-bar.active[data-percent='24'] {
  width: 24%; }

.zmiti-loading-bar.active[data-percent='25'] {
  width: 25%; }

.zmiti-loading-bar.active[data-percent='26'] {
  width: 26%; }

.zmiti-loading-bar.active[data-percent='27'] {
  width: 27%; }

.zmiti-loading-bar.active[data-percent='28'] {
  width: 28%; }

.zmiti-loading-bar.active[data-percent='29'] {
  width: 29%; }

.zmiti-loading-bar.active[data-percent='30'] {
  width: 30%; }

.zmiti-loading-bar.active[data-percent='31'] {
  width: 31%; }

.zmiti-loading-bar.active[data-percent='32'] {
  width: 32%; }

.zmiti-loading-bar.active[data-percent='33'] {
  width: 33%; }

.zmiti-loading-bar.active[data-percent='34'] {
  width: 34%; }

.zmiti-loading-bar.active[data-percent='35'] {
  width: 35%; }

.zmiti-loading-bar.active[data-percent='36'] {
  width: 36%; }

.zmiti-loading-bar.active[data-percent='37'] {
  width: 37%; }

.zmiti-loading-bar.active[data-percent='38'] {
  width: 38%; }

.zmiti-loading-bar.active[data-percent='39'] {
  width: 39%; }

.zmiti-loading-bar.active[data-percent='40'] {
  width: 40%; }

.zmiti-loading-bar.active[data-percent='41'] {
  width: 41%; }

.zmiti-loading-bar.active[data-percent='42'] {
  width: 42%; }

.zmiti-loading-bar.active[data-percent='43'] {
  width: 43%; }

.zmiti-loading-bar.active[data-percent='44'] {
  width: 44%; }

.zmiti-loading-bar.active[data-percent='45'] {
  width: 45%; }

.zmiti-loading-bar.active[data-percent='46'] {
  width: 46%; }

.zmiti-loading-bar.active[data-percent='47'] {
  width: 47%; }

.zmiti-loading-bar.active[data-percent='48'] {
  width: 48%; }

.zmiti-loading-bar.active[data-percent='49'] {
  width: 49%; }

.zmiti-loading-bar.active[data-percent='50'] {
  width: 50%; }

.zmiti-loading-bar.active[data-percent='51'] {
  width: 51%; }

.zmiti-loading-bar.active[data-percent='52'] {
  width: 52%; }

.zmiti-loading-bar.active[data-percent='53'] {
  width: 53%; }

.zmiti-loading-bar.active[data-percent='54'] {
  width: 54%; }

.zmiti-loading-bar.active[data-percent='55'] {
  width: 55%; }

.zmiti-loading-bar.active[data-percent='56'] {
  width: 56%; }

.zmiti-loading-bar.active[data-percent='57'] {
  width: 57%; }

.zmiti-loading-bar.active[data-percent='58'] {
  width: 58%; }

.zmiti-loading-bar.active[data-percent='59'] {
  width: 59%; }

.zmiti-loading-bar.active[data-percent='60'] {
  width: 60%; }

.zmiti-loading-bar.active[data-percent='61'] {
  width: 61%; }

.zmiti-loading-bar.active[data-percent='62'] {
  width: 62%; }

.zmiti-loading-bar.active[data-percent='63'] {
  width: 63%; }

.zmiti-loading-bar.active[data-percent='64'] {
  width: 64%; }

.zmiti-loading-bar.active[data-percent='65'] {
  width: 65%; }

.zmiti-loading-bar.active[data-percent='66'] {
  width: 66%; }

.zmiti-loading-bar.active[data-percent='67'] {
  width: 67%; }

.zmiti-loading-bar.active[data-percent='68'] {
  width: 68%; }

.zmiti-loading-bar.active[data-percent='69'] {
  width: 69%; }

.zmiti-loading-bar.active[data-percent='70'] {
  width: 70%; }

.zmiti-loading-bar.active[data-percent='71'] {
  width: 71%; }

.zmiti-loading-bar.active[data-percent='72'] {
  width: 72%; }

.zmiti-loading-bar.active[data-percent='73'] {
  width: 73%; }

.zmiti-loading-bar.active[data-percent='74'] {
  width: 74%; }

.zmiti-loading-bar.active[data-percent='75'] {
  width: 75%; }

.zmiti-loading-bar.active[data-percent='76'] {
  width: 76%; }

.zmiti-loading-bar.active[data-percent='77'] {
  width: 77%; }

.zmiti-loading-bar.active[data-percent='78'] {
  width: 78%; }

.zmiti-loading-bar.active[data-percent='79'] {
  width: 79%; }

.zmiti-loading-bar.active[data-percent='80'] {
  width: 80%; }

.zmiti-loading-bar.active[data-percent='81'] {
  width: 81%; }

.zmiti-loading-bar.active[data-percent='82'] {
  width: 82%; }

.zmiti-loading-bar.active[data-percent='83'] {
  width: 83%; }

.zmiti-loading-bar.active[data-percent='84'] {
  width: 84%; }

.zmiti-loading-bar.active[data-percent='85'] {
  width: 85%; }

.zmiti-loading-bar.active[data-percent='86'] {
  width: 86%; }

.zmiti-loading-bar.active[data-percent='87'] {
  width: 87%; }

.zmiti-loading-bar.active[data-percent='88'] {
  width: 88%; }

.zmiti-loading-bar.active[data-percent='89'] {
  width: 89%; }

.zmiti-loading-bar.active[data-percent='90'] {
  width: 90%; }

.zmiti-loading-bar.active[data-percent='91'] {
  width: 91%; }

.zmiti-loading-bar.active[data-percent='92'] {
  width: 92%; }

.zmiti-loading-bar.active[data-percent='93'] {
  width: 93%; }

.zmiti-loading-bar.active[data-percent='94'] {
  width: 94%; }

.zmiti-loading-bar.active[data-percent='95'] {
  width: 95%; }

.zmiti-loading-bar.active[data-percent='96'] {
  width: 96%; }

.zmiti-loading-bar.active[data-percent='97'] {
  width: 97%; }

.zmiti-loading-bar.active[data-percent='98'] {
  width: 98%; }

.zmiti-loading-bar.active[data-percent='99'] {
  width: 99%; }

.zmiti-loading-bar.active[data-percent='100'] {
  width: 100%; }

.zmiti-loading-bar.active:after,
.zmiti-loading-bar.active:before {
  opacity: 1; }

.zmiti-loading-bar:after {
  content: attr(data-percent) "%";
  display: block;
  position: absolute;
  top: 1px;
  right: 2px;
  height: 40px;
  opacity: 0;
  color: #066590;
  font-size: 22px;
  line-height: 40px;
  border-radius: 20px; }

.zmiti-loading-pig {
  padding-bottom: 10px; }

/*# sourceMappingURL=index.css.map */
