@import "../css/base.scss";
  
    .zmiti-loading1{
        z-index: 1200;
    }
   .zmiti-loading-ui{
        width: 500px;
        height: 300px;
        @include pos(a);
        left: 50%;
        top: 50%;
        margin: -150px 0 0 -250px;
        img{
            width: 120px;
            //margin-left: -50px;
        }
        &.loading-enter-active,
        &.loading-leave-active {
            @include transition(.4s .2s);
        }


        &.loading-leave-to,
        &.loading-enter {
            opacity: 0;
        }
    }

    .zmiti-loading-C{
        padding: 2px;        
        background:#066590;
        @include br(20px);
        &:before{
            content:"";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            //box-shadow: 0 0 10px rgba(255,0,0,1);
        }
    }


    .zmiti-loading-bar{
        background-image:repeating-linear-gradient(-45deg, #14c3a2, #14c3a2 30px, #22e8c3 30px, #22e8c3 60px);
        background-size:600px 100%;
        @include animation(barberpole 12s linear infinite);
        height: 40px;
        width: 0;
        position: relative;
        border-radius: 20px;


        
    }

    .zmiti-loading-bar.red {
        background-image: repeating-linear-gradient(60deg, #7cddf4, #7cddf4 40px, #ccf4ff 40px, #ccf4ff 70px);
        background-size: 500px 100%;
        animation: barberpole 4s linear infinite;
    }

     
    .zmiti-loading-bar:before {
        content: "";
        @include pos(a);
        width: 520px;
        //left: 10%;

        left: -10px;
        height: 60px;
        ///@include br();
        @include br(40px);
        background:#1082b6;
        z-index: -1;;
        
        top: -10px;
    }



    @-webkit-keyframes barberpole {
        from {
            background-position: 0% 0%;
        }

        to {
            background-position: 600px 0%;
        }
    }
    @for $i from 1 through 100{
        .zmiti-loading-bar.active[data-percent='#{$i}'] {
            width: 1% * $i;
        }
    }
    
    

    .zmiti-loading-bar.active:after,
    .zmiti-loading-bar.active:before {
        opacity: 1;
    }

    


    .zmiti-loading-bar:after {
        content: attr(data-percent) "%";
        display: block;
        position: absolute;
        top: 1px;
        right: 2px;
        height: 40px;
        opacity: 0;
        color:#066590;
        font-size:22px;
        line-height: 40px;
        @include br(20px);
    }


    .zmiti-loading-pig{
        padding-bottom:10px;
        img{
            
        }
    }
