@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;

.zmiti-upload-main-ui {
    background: #ecf7ff;
    z-index: 110;

    .zmiti-upload-C {
        color: #f4d893;
        text-align: center;
       
        @include transition(.1s);

         &.upload-enter-active,
         &.upload-leave-active {
         }

         &.upload-enter,
         &.upload-leave-to {
            opacity: 0;
         }

        h1,
        h2,
        h3,
        h5 {
            font-weight: normal;
            width: 500px;
        }

        h3{margin-left: 20px;;}

        @include pos(a);

        width: 88vw;
        height: 84vh;
        left: 6vw;
        top: 4vh;
        z-index: 2;

        @include br(20px);
        @include displayBox(vertical);

        .zmiti-upload {
            @include pos(r);
            margin: 4vh 0 0 0 ;
            width: 250px;
            div {
                color: #fff;
                @include pos(a);
                top: 50%;
                text-align: center;
                width: 100%;
                margin-top: -15px;
                opacity:0;
            }

            &.uploading {
                @include animation(flash 1s infinite ease-out alternate);
                 div {
                     opacity: 1;
                 }

            }

            .zmiti-file {
                @include pos(a);

                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
        }

        & > div {
            &:nth-of-type(1) {
                -webkit-box-flex: 4;

                @include displayBox(vertical);

                .zmiti-rechoose {
                    margin-top: 20px;
                    text-decoration: underline;
                }
            }

            &:nth-of-type(2) {
                -webkit-box-flex: 2;

                @include pos(r);

                h3 {
                    img {
                        width: 200px;
                    }
                }

                .zmiti-upload-sex {
                    margin: 0 auto;

                    @include pos(r);

                    top: 30px;

                    @include displayBox(horizontal);

                    & > div {
                        margin: 0 50px;
                        @include pos(r);
                        width: 170px;
                    }

                    .zmiti-sex-checked {
                        @include pos(a);

                        width: 40px;
                        left: 67%;
                       
                        bottom:14px;
                        overflow: hidden;

                        img {
                            @include transform(scale(0.8));
                        }
                    }
                }
            }
        }
    }

    .zmiti-nickname {
        @include pos(a);

        top: 64px;
        color: #333;
        right: 140px;
        width: 30px;
    }

    .zmiti-share-mask {
        background: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        @include displayBox(vertical);
        &>img {
            width: 400px;
            @include pos(a);
            margin: 30px 30px 0 0;
            right: 0px;
        }
        &>div{
            color:#fff;

            img{
                width: 80px;
                margin: 0 auto;
                display:block;

            }
            .zmiti-share-logos{
                @include displayBox(horizontal);
                &>div{
                    margin: 0 30px;
                }
            }
            width: 94%;
            margin: 60px auto;
            @include pos(r);
            top: 80px;
            line-height: 44px;;
            &>div{
                
                
            }
        }
    }

    .zmiti-share-ui {
        @include displayBox(vertical);

        color: #fe9a74;

        & > div {
            margin: 3vh 0;
        }

        .zmiti-img-tip {
            margin-top: -20px;
            font-size: 26px;
            top: -26px;
            text-align: center;
            width: 100%;
            font-size:30px;
            @include pos(a);
            z-index: 100;
        }

        .zmiti-merge-img {
            @include pos(r);
            width:$viewW;
            canvas{
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -1;
                opacity: 0;
                @include pos(a);


            }

            .zmiti-card-info {
                @include pos(a);

                color: #333;
                font-size: 14px;
                bottom: 2px;
                right: 120px;
                background: #fff;
                padding: 0 16px;
                border: 1px solid #ccc;
                line-height: 36px;

                @include transform(scale(.95));

                & > div {
                    @include displayBox(horizontal);

                    -webkit-box-pack: justify;
                    font-family: Georgia;

                    span {
                        font-size: 34px;
                        color: #0372c3;
                    }
                }
            }
        }

        

        .zmiti-share-btns {
            @include displayBox(horizontal);
            margin: 3vh 0;
            @include pos(r);
            top: -2vh;
            & > div {
                margin: 0 60px;
                width: 200px;
            }
        }
    }

    .zmiti-cache-img{
        @include pos(f);
        z-index: -1;
        left: 100%;
    }
}

@-webkit-keyframes flash {
    to {
        opacity: 0;
    }
}
